* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    line-height: normal;
    font-family: 'Rubik', sans-serif;
     min-width: 375px;  /* для того, чтобы на разрешениях меньших, чем 375px верстка тоже не ломалась и все красиво масштабировалось, нужно тегу <body>, добавить минимальную ширину, равную ширине самого маленького экрана, под который мы делаем адаптив: */
}

.main { 
    background-color: #eff2f9;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    width: 1170px;
    min-height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);/* тень, значения: сдвиг-x | сдвиг-y | размытие | растяжение | цвет */
    background-color: #fff;
    padding: 60px 0 70px;/* внутренние отступы - сверху | по бокам | снизу */
    display: flex;
    margin: 40px;
}


.images-block {
    min-width: 540px;
    border-right: 2px solid rgba(20, 20, 20, 0.15);
    display: flex;
    flex-direction: column;

    
} 


.main-image-wrapper {
    display: flex; 
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
}
    


.previews-wrapper {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.preview {
    width: 80px;
    height: 80px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;

}

.preview.selected {

    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);/* тень, значения: сдвиг-x | сдвиг-y | размытие | растяжение | цвет */
}


.description-block {
    padding: 0 60px; /* внутренний отступ, значения: верх+низ | лево+право */
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.38em;/* межбуквенное расстояние */
    color: rgba(20, 20, 20, 0.9);
}

.subtitles {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 60px;
}
    
.text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px; 
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);
    margin-bottom: 60px;
}
    
.colors {
    margin-bottom: 65px;
}

.block-title { 
    font-family: "Lato", sans-serif;
    
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
    margin-bottom: 20px;
}

.colors-list {
    display: flex;
    gap: 40px;
}
    
ul {
    list-style: none;    
}

.circle { 
    border-radius: 50%;
    fill: #63cba7;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
    width: 16px;
    height: 16px; 
    filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));    
} 


.blue {
    background-color: #013c7d; ;
}
.green {
    background-color: #63cba7;
}
.red {
    background-color: #f44336;
}
.black {
    background-color:#141414;
}
.yellow {
    background-color: #f9e025;
}

li {
    border-radius: 100%;
    background-color: #fff;
    /* box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25); */
    width: 30px;
    height: 30px;
    padding: 7px;
}

li.selected {
    width: 30px;
    height: 30px;
    padding: 7px;
    box-shadow: 2px 2px 6px 0px rgba(81, 91, 117, 0.25);
    border-radius: 50%;
}

.wrapper {
    display: flex;
} 

.wrapper > div {
    flex-grow: 1;
}

#quantity {
    width: 82px;
    height: 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);
    appearance: none;
    background-image: url(./assets/photos/ph_caret-down-bold.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    border: none;
    
}




.price {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.8);
    text-transform: uppercase;
}

.button{
    min-width: 100%;
    height: 70px;
    background-color: #141414;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.01em;
    color:#fff;
    margin-top: 60px;

}
.button:hover {
    background-color: #db252e;
    transform: translateY(5px);
    
}
@media  screen and (max-width: 1200px) { /* как на макете, но смотреть по скукоживанию*/
    .card {
        width: 690px;/** как на макете*/
        flex-direction: column;
        
            
    }
    .images-block {
        border-right: none;
        border-bottom: 2px solid #db252e26;
        padding-bottom: 70px;
        
    }

    .main-image-wrapper  img {
        padding-bottom: 60px;
    }
    
    .description-block {
        padding-top: 60px;
    }
}

    @media screen and (max-width: 576px) {
        .card {
            margin: 15px 15px 40px /* меняем внешние отступы */

        }
        .images-block {
            min-width: auto; /* ширину верхнего блока делаем по умолчанию (будет по ширине родителя) */

        }
        .main-image {
            width: 250px;/* изменяем ширину главного изображения, высота подстроится автоматически */
        }
        h1 { 
            font-size: 34px;
        } 
        .subtitles {
            font-size: 14px;/* меняем размер шрифта и нижний отступ снаружи для подзаголовка */
            margin-bottom: 50px;
        }
        .text {
            font-size: 14px;
            margin: 50px 0 55px;
        }
        .button {
            margin-top: 60px;
        }


        
    }

    








