* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.main { 
    background-color: #eff2f9;
    height: 100vh;
}

.card {
    width: 1170px;
    height: 800px;
    box-shadow: 20px 20px 40px 0 rgba(81, 91, 117, 0.25);
    background: #fff;

}

.images-block {
    width: 540px;
    border-right: 2px solid rgba(20, 20, 20, 0.15);
}

.description-block {
padding: 0 60px;
margin-bottom: 60px;

}

.preview {
    width: 80px;
    height: 80px;
    
    background-color: #fff;

}

.selected {

    box-shadow: 8px 8px 16px 0 rgba(81, 91, 117, 0.25);
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.9);

}
.subtitles {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.4);
}
.text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;

    /* line-height: 30px; */ 
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: rgba(20, 20, 20, 0.7);

}

.block-title { 
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.4);
     

}
.circle {
    border-radius: 100%;
    fill: #63cba7;
    box-shadow: 2px 2px 4px 0 rgba(81, 91, 117, 0.25);
    width: 16px;
    height: 16px;    

}
.blue {
    background-color: #013c7d; ;
}
.green {
    background-color: #63cba7;
}
.red {
    background-color: #f44336;
}
.black {
    background-color:#141414;
}
.yellow {
    background-color: #f9e025;
}

li {
    border-radius: 100%;
background-color: #fff;
box-shadow: 2px 2px 6px 0 rgba(81, 91, 117, 0.25);
width: 30px;
height: 30px;

}
#quantity {
    width: 82px;
    height: 63px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: rgba(20, 20, 20, 0.8);


}